@model List<Practical8.Models.Polygon>
@{
    ViewBag.Title = "Display";
}

<div class="clearfix mb-4">
    @using (Html.BeginForm("RedirectToSelectShape", "Polygon", FormMethod.Post, new { @class = "float-end" }))
    {


        <input type="submit" value="Add Shape" class="btn btn-primary" />

    }
</div>


<div>
    @foreach (var shape in Model)
    {
        <p class="shape-description">@shape.Description</p>
        <p class="shape-area">Area: @shape.getArea()</p>
        <div>
            @Html.Raw(shape.getSVG())
        </div>
    }
</div>

<style>
    .shape-description {
        font-size: 15px;
    }

    .shape-area {
        font-size: 12px;
    }
</style>
