@model Practical8.Models.Rectangle
@{
    ViewBag.Title = "Rectangle Display";
}

<h2>Rectangle Details</h2>

@using (Html.BeginForm("RedirectToSelectShape", "Polygon", FormMethod.Post))
{
    <div>
        <input type="submit" value="Add Shape" class="btn btn-primary" />
    </div>
}

<div>
    <h4>Description: @Model.Description</h4>

    <p>Area: @Model.getArea()</p>
</div>

<div>
    @Html.Raw(Model.getSVG())
</div>

